<!DOCTYPE HTML>
<html>

<head>
    <title>Croptimize</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
    <noscript><link rel="stylesheet" href="{{ url_for('static', filename='css/noscript.css') }}" /></noscript>
</head>

<body class="is-preload landing">
    <div id="page-wrapper">

        <!-- Header -->
        <header id="header">
            <h1 id="logo"><a href="index.html">Landed</a></h1>
            <nav id="nav">
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li>
                        <a href="#">Layouts</a>
                        <ul>
                            <li><a href="left-sidebar.html">Left Sidebar</a></li>
                            <li><a href="right-sidebar.html">Right Sidebar</a></li>
                            <li><a href="no-sidebar.html">No Sidebar</a></li>
                            <li>
                                <a href="#">Submenu</a>
                                <ul>
                                    <li><a href="#">Option 1</a></li>
                                    <li><a href="#">Option 2</a></li>
                                    <li><a href="#">Option 3</a></li>
                                    <li><a href="#">Option 4</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a href="elements.html">Elements</a></li>
                    <li><a href="#" class="button primary">Sign Up</a></li>
                </ul>
            </nav>
        </header>

        <!-- Banner -->
        <section id="banner">
            <div class="content">
                <header>
                    <h2>Croptimize</h2>
                    <p>An intelligent application aimed to promote sustainability and social good </p>
                </header>
                <span class="image"><img src="{{ url_for('static', filename='css/images/logo.png') }}" alt="" /></span>
            </div>
            <a href="#one" class="goto-next scrolly">Next</a>
        </section>

        <!-- One -->
        <section id="one" class="spotlight style1 bottom">
            <span class="image fit main"><img src="{{ url_for('static', filename='css/images/problems.webp') }}" alt="" /></span>
            <div class="content">
                <div class="container">
                    <div class="row">
                        <div class="col-4 col-12-medium">
                            <header>
                                <h2>Our Mission</h2>
                                <p>Due to climate change, crop yield and output has become unpredictable around the world</p>
                            </header>
                        </div>
                        <div class="col-4 col-12-medium">
                            <p>Our application helps farmers by providing insights on weather, crop production, and natural disasters (namely wildfires), in order to make efficient use of available resources and estimate quantities such as crop yield and
                                preciptiation.
                            </p>
                        </div>
                        <div class="col-4 col-12-medium">
                            <p>
                                <img src="{{ url_for('static', filename='css/images/yield.png') }}" width="200" height="200" alt="" />
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <a href="#two" class="goto-next scrolly">Next</a>
        </section>


        <!-- Three -->
        <section id="three" class="spotlight style3 left">
            <span class="image fit main"><img src="{{ url_for('static', filename='css/images/forest fire.jpeg') }}" alt="" /></span>
            <div class="content">
                <header>
                    <h2>Statistics</h2>
                    <p>$12.5 Billion in Crop and Forage Losses due to 2021 California Forest Fires and other natural disasters</p>
                </header>
                <p>Due to a variety off actors such as natural disasters, unpredictable weather, and lack of planning, crop production can severely fall and have drastic affects on both the lives of farmers, and the economy as a whole.</p>
                <ul class="actions">
                    <li><a href="https://climatechange.chicago.gov/climate-impacts/climate-impacts-agriculture-and-food-supply" class="button">Learn More</a></li>
                </ul>
            </div>
            <a href="#four" class="goto-next scrolly">Next</a>
        </section>

        <!-- Four -->
        <section id="four" class="wrapper style1 special fade-up">
            <div class="container">
                <header class="major">
                    <h2>Our Tools and Processes</h2>
                    <p>We make use of a variety of tools and processes to assist farmers</p>
                </header>
                <div class="box alt">
                    <div class="row gtr-uniform">
                        <section class="col-4 col-6-medium col-12-xsmall">
                            <span class="icon solid alt major fa-seedling"></span>
                            <h3>Ensemble ML models for crop production</h3>
                            <p>We utilize regression models that were trained on historical USDA data to provide insight about crop production, given a specific location or crop</p>
                        </section>
                        <section class="col-4 col-6-medium col-12-xsmall">
                            <span class="icon solid alt major fa-cloud"></span>
                            <h3>Ensemble ML models for weather prediction</h3>
                            <p>Using a regression model trained on historical NOAA weather data, we try to provide monthly predictions for weather based on location, and ideal crops to grow based on this weather.</p>
                        </section>
                        <section class="col-4 col-6-medium col-12-xsmall">
                            <span class="icon solid alt major fa-fire"></span>
                            <h3>Forest Fire Alerts</h3>
                            <p>Utilizing web scraping and a custom API, we check for forest fires hourly and provide alerts if these fires are close to the farmer's location. </p>
                        </section>
                    </div>
                </div>
            </div>
        </section>

        <!-- Five -->
        <section id="five" class="wrapper style2 special fade">
            <div class="container">
                <header>
                    <h2>About us</h2>
                    <p>We are a team of high schoolers interested in environmental sustainability. </p>
                </header>
            </div>
        </section>

        <!-- Footer -->
        <footer id="footer">
            <ul class="copyright">
                <li>Croptimize: An AI application to help farmers</li>
            </ul>
        </footer>

    </div>

    <!-- Scripts -->
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/jquery.scrolly.min.js"></script>
    <script src="static/js/jquery.dropotron.min.js"></script>
    <script src="static/js/jquery.scrollex.min.js"></script>
    <script src="static/js/browser.min.js"></script>
    <script src="static/js/breakpoints.min.js"></script>
    <script src="static/js/util.js"></script>
    <script src="static/js/main.js"></script>

</body>

</html>